.card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 220px;
  background-color: white;
  position: relative;
  .personImg {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%);
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 4px solid red;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  .cardContent {
    text-align: center;
    padding: 20px;
    .grayText {
      padding: 50px 0px 0px 0px;
      color: rgb(0, 0, 0, 0.3);
    }
    .cardName {
      padding: 10px;
      font-size: 20px;
      font-weight: 400;
    }
    .cardText {
      color: rgb(0, 0, 0, 0.7);
    }
  }
}
