.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    text-align: center;
    padding: 50px;
    h5 {
      font-size: 1.1rem;
      font-family: "Indie Flower", cursive;
      font-weight: 300;
      color: red;
    }
    h3 {
      font-size: 2.2rem;
      font-weight: 300;
    }
  }
  .numbers {
    display: flex;
    justify-content: center;
    margin: 40px;

    p {
      padding: 0px 46px;
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        font-size: 2.2rem;
      }

      &:nth-child(1) span {
        color: #16c3b0; /* Цвет для первого span */
      }

      &:nth-child(2) span {
        color: #ff6347; /* Цвет для второго span */
      }

      &:nth-child(3) span {
        color: #1e90ff; /* Цвет для третьего span */
      }

      &:nth-child(4) span {
        color: #ffd700; /* Цвет для четвертого span */
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .numbers {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    p {
      padding: 20px 46px !important;
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        font-size: 2rem;
      }

      &:nth-child(1) span {
        color: #16c3b0; /* Цвет для первого span */
      }

      &:nth-child(2) span {
        color: #ff6347; /* Цвет для второго span */
      }

      &:nth-child(3) span {
        color: #1e90ff; /* Цвет для третьего span */
      }

      &:nth-child(4) span {
        color: #ffd700; /* Цвет для четвертого span */
      }
    }
  }
}
