.sliders {
  .slider {
    background-color: #fd4d40;
    display: flex;
    .img {
      padding: 20px 60px 60px 20px;
      img {
        width: 80px;
        height: 80px;
      }
    }
    .text {
      padding: 20px;
      color: white;
      h5 {
        font-size: 1.3rem;
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 10px;
      }
      h6 {
        font-size: 1rem;
        font-weight: 300;
        color: rgba(207, 207, 207, 0.6);
        padding-bottom: 10px;
      }
      p {
        font-size: 1.3rem;
        line-height: 34px;
        padding-bottom: 20px;
      }
    }
  }

  .slick-dots {
    bottom: 50px;
  }

  @media screen and (max-width: 480px) {
    .slider {
      flex-direction: column;
      .img {
        padding: 10px;
      }
      .text {
        padding: 10px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .slider {
      flex-direction: column;
      .img {
        padding: 10px;
      }
      .text {
        padding: 10px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .slider {
      flex-direction: row !important;
      .img {
        padding: 20px 60px 60px 20px;
      }
      .text {
        padding: 20px;
      }
    }
  }
}
