.sliders {
  //   display: flex;
  //   flex-direction: row;
  .slider {
    background-color: #fd4d40;
    display: flex !important;
    flex-direction: row !important;
    .img {
      padding: 20px 60px 60px 20px;
      img {
        width: 80px;
        height: 80px;
        // padding: 20px;
      }
    }
    .text {
      padding: 20px;
      color: white;
      h5 {
        font-size: 1.3rem;
        color: rgb(255, 255, 255, 0.8);
        padding: 0px 10px 10px 0px;
      }
      h6 {
        font-size: 1rem;
        font-weight: 300;
        color: rgba(207, 207, 207, 0.6);
        padding-bottom: 10px;
      }
      p {
        font-size: 1.3rem;
        line-height: 34px;
        padding-bottom: 20px;
      }
    }
  }
}
.slick-dots {
  bottom: 50px;
}
