main {
  background-color: rgb(255, 255, 255);
  z-index: 999;
  position: relative;
  .colorCards {
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    .first {
      background-color: #fd4d40;
      margin: 30px;
      position: relative;
      .one {
        background-color: #fd4d40;
      }
    }
    .second {
      background-color: #fdb62f;
      position: relative;
      margin: 30px 0px;
      .two {
        background-color: #fdb62f;
      }
    }
    .third {
      background-color: #16c3b0;
      margin: 30px;
      position: relative;
      .three {
        background-color: #16c3b0;
      }
    }
  }
}

.circleIcon {
  background-color: red;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1rem;
  padding: 70px 40px 40px 40px;
  text-align: center;
  width: 380px;
  height: 270px;
  h5 {
    font-size: 1.3rem;
    padding-bottom: 18px;
  }
  p {
    font-size: 18px;
  }
}
