.aboutUs {
  display: flex;
  background-color: #f6f5f5;
  .cont {
    display: flex;
    padding: 100px;
    .img {
      img {
        width: 540px;
      }
    }
    .texts {
      padding: 90px;
    }
  }
}
