header {
  font-family: "DM Sans", sans-serif;

  .dispNone {
    position: absolute;
    left: 800px;
    z-index: 100;
    img {
      width: 540px;
    }
  }
  .hero {
    .heroTxt {
      padding: 100px 840px 0px 100px;
      margin-top: 3rem;

      h1 {
        font-size: 3rem;
        color: white;
      }
      .cursive {
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
        color: red;
      }
    }
    .btn {
      margin: 80px 0px 0px 100px;
      padding-bottom: 110px;
    }
  }
  .topNav {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding-top: 30px;
    .navLogo {
      font-size: 3rem;
      color: white;
      span {
        color: red;
      }
      // margin: 50px 0px 0px 100px;
    }
    .navText {
      display: flex;
      margin: 10px;
      .navAdres {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 270px;
        color: white;
        // margin: 50px;
        font-size: 14px;
        // padding: 0px 30px;
        .navIcon {
        }
      }
    }
  }
  .nav {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 30px 100px;
    border-radius: 50px;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 101;
    .list {
      display: flex;
      list-style-type: none;
      li {
        margin: 5px 10px;
        a {
          text-decoration: none;
        }
      }
    }
    .socialIcons {
      display: flex;
      list-style-type: none;
      padding: 0px 30px;

      .iconF {
        color: #16c3b0;
        font-size: 26px;
      }
      .iconIn {
        color: #71bc42;
        font-size: 26px;
        margin: 0px 26px;
      }
      .iconT {
        color: #fdb62f;
        font-size: 26px;
      }
    }
  }
}

.default {
  background-image: url(../../assets/images/hero_1.jpg.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  background-color: red;
  .dispNone {
    display: none;
  }
  .btn {
    display: none;
  }
}
.home {
  // background-image: url(../../assets/images/kid.webp);
  background-repeat: no-repeat;
  background-color: #b2b2b2;
  position: relative;
}

.icon1 {
  font-size: 26px;
  text-align: center;
  margin-right: 10px;
  color: #fdb62f;
}
.icon2 {
  font-size: 26px;
  text-align: center;
  margin-right: 10px;
  color: #fd4d40;
}
